.about-us {
    padding-bottom: 50px;
}

.about-us__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about-us__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: var(--gray);
    margin-bottom: 20px;
}

.about-us__header p {
    font-size: clamp(1.25rem, 1.03rem + 0.939vw, 1.875rem);
    font-weight: 700;
    color: var(--white);
}

.about_us-description {
    background-color: var(--white);
    padding: 30px;
    font-size: 18px;
}

.about_us-description p {
    margin-bottom: 20px;
}

@media (max-width: 769px) {
    .about-us__wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .about_us-description {
        font-size: 12px;
    }
}