#faq_box .questions {
    flex: 2;
}

#faq_box .faq {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

#faq_box .question {
    background-color: #ecf3f7;
    padding: 12.5px 15px 12.5px 30px;
    border-radius: 10px;
}

#faq_box .question .title {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #292e35;
    margin-bottom: 0;
    cursor: pointer;
}

#faq_box .question .title .icon {
    --line-width: 11px;
    --line-height: 3px;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--gray);
    border-radius: 50%;
}

#faq_box .question .title .icon::before,
#faq_box .question .title .icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: var(--line-height);
    height: var(--line-width);
    background-color: var(--white);
    transform: translate(-50%, -50%);
    transition-property: height;
    transition-duration: calc(var(--duration-hover) * 1s);
    transition-timing-function: ease-in;
}

#faq_box .question .title .icon::after {
    width: var(--line-width);
    height: var(--line-height);
}

#faq_box .question .title:hover .icon {
    background-color: var(--green);
}

#faq_box .question .title.is-active .icon {
    background-color: var(--blur-green);
}

#faq_box .question .title.is-active .icon::before {
    height: 0px;
}

#faq_box .question .content {
    display: none;
    font-size: 18px;
    line-height: 24px;
    color: #a5b4cc;
    margin: 20px 0px 20px;
}

#faq_box .question .content.is-active {
    display: block;
}

#faq_box .image {
    flex: 1;
    border-radius: 20px;
}

#faq_box .image img {
    max-width: none;
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
}


@media (max-width: 1023px) {
    #faq_box .faq {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    #faq_box .questions {
        grid-row: 2/3;
    }

    #faq_box .image img {
        max-height: 500px;
    }
}

@media (max-width: 769px) {
    #faq_box .question .content {
        font-size: 14px;
    }
}