.gos-uslugi {
    padding-bottom: 50px;
}

.gos-uslugi__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gos-uslugi__item {
    padding: 40px 40px;
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gos-uslugi__item h3 {
    font-size: clamp(1rem, 0.839rem + 0.734vw, 1.5rem);
    line-height: 1.2;
    color: var(--white);
}

.gos-uslugi__item:nth-child(1) {
    background-image: url('../src/img/gos-uslugi/line1.png'), url('../src/img/gos-uslugi/bg-1.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.gos-uslugi__item:nth-child(2) {
    background-image: url('../src/img/gos-uslugi/bg2.png'), url('../src/img/gos-uslugi/line2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.gos-uslugi__item:nth-child(3) {
    background-image: url('../src/img/gos-uslugi/bg3.png'), url('../src/img/gos-uslugi/line35.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.gos-uslugi__link svg rect {
    transition: all 0.3s ease;
}

.gos-uslugi__link svg rect {
    fill: var(--white);
}

.gos-uslugi__link svg path {
    fill: #B5C2D7;
}

.gos-uslugi__link:hover svg rect {
    fill: var(--dark-green);
}

.gos-uslugi__link:hover svg path {
    fill: var(--white);
}

@media (max-width: 1023px) {
    .gos-uslugi__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .gos-uslugi__item {
        background-size: 200px;
    }

    .gos-uslugi__item:nth-child(1) {
        background-size: 300px;
    }

    .gos-uslugi__item:nth-child(3) {
        grid-column: 1/3;
    }

    .gos-uslugi__item h3 {
        max-width: 400px;
    }
}

@media (max-width: 767px) {
    .gos-uslugi__list {
        display: block;
    }

    .gos-uslugi__item {
        margin-bottom: 30px;
        min-height: 240px;
    }

    .gos-uslugi__item:nth-child(1) {
        background-size: 250px;
    }

    .gos-uslugi__item:nth-child(2) {
        background-size: 170px;
    }
}