#info_box .info_body {
    position: relative;
    z-index: 0;
    background-color: var(--light-gray);
    background-image: url(../src/img/hero_bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
    padding: 50px 80px 100px 110px;
    overflow: hidden;
}

#info_box .banner {
    display: flex;
    align-items: center;
    gap: 48px;
}

#info_box .image img {
    max-width: none;
    width: 511px;
    height: 491px;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 768px) {
    #info_box .info_body {
        padding: 23px 40px 40px;
    }

    #info_box .banner {
        flex-direction: column;
    }

    #info_box .image {
        width: 100%;
    }

    #info_box .image img {
        width: 100%;
        height: 623px;
    }
}

@media (max-width: 375px) {
    #info_box .info_body {
        padding: 23px 24px 27px;
    }

    #info_box .banner {
        gap: 20px;
    }

    #info_box .image img {
        height: 225px;
    }
}