.mobile-menu {
    transition: opacity 0.8s ease;
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 0 100px;
}

.mobile-menu.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.header-nav {
    position: relative;
}

.header-nav a {
    font-weight: 600;
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: var(--green);
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-nav ul li {
    margin-right: 60px;
    position: relative;
}

.sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    text-transform: lowercase;

    display: flex;
    flex-wrap: wrap;

    padding-left: 10px;
    box-shadow: 0 0 40px 0 rgba(73, 91, 121, 0.2);
    background: #fff;
}

.sub-menu li {
    padding: 5px 0;
}

.header-nav li:hover>.sub-menu {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    color: #000;
}

.accordion-arrow {
    position: relative;
}

.accordion-arrow::before {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 20px;
    height: 20px;
    background-image: url('../src/img/icons/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: center;
}