section {
    position: relative;
}

section+section {
    margin-top: 120px;
}

@media (max-width: 450px) {
    section+section {
        margin-top: 60px;
    }

}

.section_group {
    --indent: 11vw;
    background-color: #ffffff;
}

.section_group:not(:last-of-type) {
    margin-bottom: calc(0px - var(--indent));
}

.section_group+.section_group {
    padding-top: calc(var(--indent) + 100px);
}

.section_group:nth-of-type(even) {
    background-color: #ecf3f7;
}

.section_group:not(:last-of-type)::after {
    content: '';
    display: block;
    width: 100%;
    height: var(--indent);
    background-color: #ffffff;
    mask-image: url(../src/img/ellipse.svg);
    mask-repeat: no-repeat;
    mask-position: center bottom;
}

.section_group:not(:last-of-type):nth-of-type(even)::after {
    background-color: #ecf3f7;
}

@media (max-width: 768px) {
    .section_group + .section_group {
        padding-top: calc(var(--indent) + 40px);
    }

    section + section {
        margin-top: 80px;
    }
}

@media (max-width: 375px) {
    section + section {
        margin-top: 60px;
    }
}