.services-menu {
    position: absolute;
    top: 70px;
    left: 15px;

    box-shadow: 0 0 40px 0 rgba(73, 91, 121, 0.2);
    background: #fff;
    border-radius: 20px;
    padding: 50px 60px;
    width: 100%;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    max-height: 75vh;
}

.services-menu.is-active {
    opacity: 1;
    visibility: visible;
}

.services-menu__list {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    gap: 10px;
    color: #858994;
}

.services-menu__list li {
    margin-bottom: 10px;
}

.services-menu__list a {
    transition: color 0.2s ease;
}

.services-menu__list a:hover {
    color: var(--green);
}

.mobile-menu-accordion li {
    position: relative;
}

@media (max-width: 768px) {
    .services-menu {
        padding: 30px 20px;
    }

    .services-menu__list {
        grid-template-columns: 1fr 1fr;
    }

    .mobile-menu-accordion .sub-menu {
        /* max-height: 0; */
        opacity: 0;
        overflow: hidden;
        /* will-change: max-height; */
        transition: all .3s ease;
        box-sizing: border-box;
        transform: none;
        transform-origin: unset;
        position: absolute;
        top: 40px;
        left: 0;
        overflow: auto;
        max-height: 70vh !important;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-accordion .sub-menu.is-active {
        opacity: 1;
        visibility: visible;
        width: 100%;
    }

    .accordion-arrow.is-active::before {
        transform: rotate(180deg);
    }
}

@media (max-width: 500px) {
    .services-menu__list {
        grid-template-columns: 1fr;
    }
}