.swiper-button-wrapper {
    display: block;
    position: relative;
    max-width: 190px;
    margin: 60px auto 0;
}

/* .swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 20px;
}

.swiper-button-prev::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    background: url('../src/img/arrow.svg');
    background-repeat: no-repeat;
}

.swiper-button-next::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 46px;
    height: 46px;
    background: url('../src/img/arrow.svg');
    background-repeat: no-repeat;
    transform: rotate(180deg);
} */

.swiper-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 11px;
    transition-property: background-color;
    transition-duration: calc(var(--duration-hover) * 1s);
}

.reverse .swiper-button-prev,
.reverse .swiper-button-next {
    background-color: var(--gray);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--green);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    mask-image: url(../src/img/arrow.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    transition-property: background-color;
    transition-duration: calc(var(--duration-hover) * 1s);
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    background-color: var(--white);
}

.reverse .swiper-button-prev::after,
.reverse .swiper-button-next::after {
    background-color: var(--white);
}

.swiper-button-prev::after {
    transform: scale(-1, 1);
}

.swiper-pagination {
    position: absolute;
    top: -10px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}